@model DataOTP
@{
    ViewData["Title"] = "Confirm OTP";
}
@if (Model != null)
{
    <div class="container" style="text-align: center; margin-top: 50px;">
        <img src="~/logo/LogoAomtung.svg" alt="Logo" width="290">
        <h5 class="h3 text-center font-weight-light mb-4">ระบุรหัส OTP ที่ได้รับจากเบอร์</h5>
        <form asp-action="ConfirmOTP" asp-controller="Authen" method="post">
            <fieldset>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="input-group justify-content-center flex-nowrap">
                        <input type="text" class="js-otp-input otp-input mx-1" oninput="focusNext(this)" inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code" required>
                        <input type="text" class="js-otp-input otp-input mx-1" oninput="focusNext(this)" inputmode="numeric" pattern="[0-9]*" required>
                        <input type="text" class="js-otp-input otp-input mx-1" oninput="focusNext(this)" inputmode="numeric" pattern="[0-9]*" required>
                        <input type="text" class="js-otp-input otp-input mx-1" oninput="focusNext(this)" inputmode="numeric" pattern="[0-9]*" required>
                        <input type="text" class="js-otp-input otp-input mx-1" oninput="focusNext(this)" inputmode="numeric" pattern="[0-9]*" required>
                        <input type="text" class="js-otp-input otp-input mx-1" oninput="focusNext(this)" inputmode="numeric" pattern="[0-9]*" required>
                    </div>
                    <input type="hidden" class="form-control text-black-50 refcode" value="@Model.RefCode">
                </div>
                <br>
                <a class="text-decoration-none text-black mb-2 refcode">Refcode: @Model.RefCode</a>
                <br>
                <button class="btn btn-pink mb-3 summit-otp" href="#" style="width: 320px; margin-top: 20px;" type="submit" disabled>ยืนยัน</button>
            </fieldset>
        </form>
        <br>
        <div>
            <a class="text-decoration-none text-black reset-otp hidden" id="reset-otp">
                <i class="bi bi-arrow-repeat"></i>
                ส่งรหัส OTP อีกครั้ง
            </a>
            <a class="text-decoration-none text-black expired-otp hidden" id="expired-otp">
            </a>
        </div>
    </div>
    @section Scripts {
    @if (Model?.Is_Duplicate == true)
        {
            <script>
                showAlert(
                    'มีเบอร์นี้ในระบบแล้ว!!!',
                    'กรุณาตรวจสอบหรือทำการเปลี่ยนเบอร์ใหม่',
                    'warning', 'ย้อนกลับ', 'ไปล็อกอิน',
                    '@Url.Action("Index", "Home")',
                    '@Url.Action("Login", "Authen")'
                )
            </script>

        }
        else if (Model?.Is_Duplicate == false && Model?.Codeotp != "")
        {

            <script>
                showAlertOTP(
                    'รหัส OTP ของท่าน',
                    '@Model?.Codeotp',
                    'info',
                    'ตกลง',
                    'ย้อนกลับ'
                );
            </script>
        }
        @if (Model?.Expired > 0)
        {
            <script>
                initOtpTimer(@Model.Expired)
            </script>
        }
    }
}
